.filmContainer{
    border: 1px solid rgb(129, 40, 7);
    border-radius: 10px;
    width: 60%;
    background-color: rgb(166, 59, 37);
    padding: 10px;
    margin: 40px;
}
.filmWrapper{
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: beige;
}
.searchBarContainer{
    box-sizing: border-box;
    height: 60px;
}
.searchBar{
    padding-left: 10px;
    width: 80%;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.input{
    padding: 5px 20px;
    font-size: 20px;
    border: 1px solid rgb(129, 40, 7);
    border-radius: 10px;
    background-color: beige;
    height: 50px;
    width: 70%;
}
.button{
    height: 35px;
    border: 1px solid rgb(129, 40, 7);
    border-radius: 10px;
    /* background-color: blanchedalmond; */
    background-color: rgb(88, 51, 7);
    color: white;
    font-size: 20px;
    
}
.filmCardContainer{
    box-sizing: border-box;

}
.filmCard{    
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 900px) {
    .filmWrapper{
        width: 100%;
    flex-direction: column;
    }
    .cardContent{
        flex-direction: column;
    }
}
.card{
    padding: 20px;
    width: 85%;
    border: 1px solid rgb(129, 40, 7);
    border-radius: 10px;
    background-color: rgb(240, 199, 169);
}
.cardContent{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardFilmImg{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 81, 63);
    width: 220px;
    padding: 10px;
    height: auto;
    border: 1px solid rgb(129, 40, 7);
    border-radius: 10px;
}
.cardImg{
    border-radius: 10px;
    width: 200px;
    height: auto;
}
.cardAddButton{
    margin: 0;
    background-color: rgb(88, 51, 7);
    color: white;
    font-size: 20px;
    height: auto;
    width: 200px;
    padding: 10px;
    border: 1px solid rgb(129, 40, 7);
    border-radius: 10px;

}
.cardFilmData{
    width: 60%;
}
.cardFilmDataName{
    margin: 20px 0 10px  0;
    color: rgb(129, 40, 7);
    font-size: 18px;
}